body{
margin: 10px 200px;
font-family: 'Oswald', sans-serif;
}
main{
  margin: 0 35px 0 35px;
}
p{
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 8pt;
}
header{
  background-image: url("../img/img2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(11, 66, 211);;
  background-blend-mode: darken;
  color: white;
  padding: 25px 15px 15px 15px;
  height: 19%;
}
header img{
  width: 10%;
  height: auto;
  margin: -30px 0px 0px 0px;
}
header h1{
  margin: 180px 0px 0px 0px;
}
nav{
  text-align: right;
}
nav a{
  color: white;
  text-decoration: none;
  padding: 0 15px 0 15px;
}
nav h4{
  margin: -52px 0 0 0;
}
.flexbox h2{
  margin: 0 0 30px 0;
}
.borderlink{
  border: 1px solid white;
}
.pic{
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.pic .aboutpic{
  height: 100%;
  margin-top: 20px;
}
.solopics{
  width: 100%;
  height: auto;
  margin: 10px;
}
.floatnav{
  float: right;
}
.flexbox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: -30px;
}
.about{
  width: 50%;
  height: 20%;
  padding: 25px 10px;
}
.about h2{
  text-transform: uppercase;
}
.about h6 a{
  color: black;
}
.story p{
  color: white;
}
.story .hovertext{
  visibility: hidden;
  position: relative;
  color: white;
  bottom:250px;
  left:0px;
  margin:0px 0px 0px 10px;
  padding: 50px 0px 45px 0px;
}
.story:hover .hovertext{
  visibility: visible;
  color: white;
  background-image: url(../img/img5.jpg);
  background-size: cover;
  background-color: grey;
  background-blend-mode: darken;
}
.story:hover .hovertext.singing{
  background-image: url(../img/img4.jpg);
}
.story:hover .hovertext.sitting{
  background-image: url(../img/img3.jpg);
}
.last{
  margin-top: -230px;
}
.facebook{
  margin-left: 30px;
  padding: 90px 0 0 0;
}
#news h5{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#news h6{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#news h4{
  margin: -29px 0 0 93px;
  padding: 0 0 0 0;
}
#news p{
  margin: -1px 0 0 97px;
  padding: 0 0 0 0;
}
#newstitle{
  margin: 0 0 90px 0;
}
li{
display: list-item;
  text-align: -webkit-match-parent;
}

ul{
list-style-type: none;
margin: -35px 0 0 -40px;
}
footer{
background: black;
clear: both;
color: white;
padding:44px 0 15px 45px;
margin-top: 75px;
}
footer h2{
  font-size: 10pt;
}
footer p{
  color: white;
}
.footername{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
footer section ul{
  display: flex;
  flex-direction: row;
}

footer section li{
  padding-right: 10px;
}

footer section a{
}

i{
  display: inline-flex;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  padding: 2px;

}
.footerright{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -30px 60px 0px 0px;
}
.footerright a{
  margin: 0 0 20px 0;
  padding: 0 10px 0 0;
}
@media only screen and (max-width:810px) {

  header{
    width: 80%;
    margin: 0 0 -250px 0;
  }
  .floatnav a{
    padding: 0 0 0 0;
  }
  .bottomnav{
    display: none;
  }
  .flexbox{
    flex-wrap: wrap;
  }
  .aboutpic{
    display: none;
  }
  .story{
    margin: 0 0 -230px 0;
  }
  .last{
    margin-top: 20px;
  }
}
